In [7]:
import pandas_datareader.data as pdr

# yahoo finance에서 받아오는 주가 데이터의 '종가'는 '수정종가'임
# '대한제당(001790)'은 '무상증자 100%'실시로 인해 4월 30일에 권리락이 발생하였음
# 밑에 제시된 해당 종목 주가이력의 'Close(종가)'컬럼에는 해당 무상증자가 고려된 '수정종가'가 입력되어 있음
print("* 대한제당 주가내역 :")
display(pdr.get_data_yahoo('001790.KS', start = '2021-04-15', end = '2021-05-15'))

# 코스피 종목들에 대해선 전일 주가내역만 받아올 수 있음
print("\n", "* 카카오게임즈 주가내역 :")
display(pdr.get_data_yahoo('005930.KQ', start = '2021-04-15', end = '2021-05-15'))

* 대한제당 주가내역 :

              High     Low    Open   Close      Volume  Adj Close
Date
2021-04-15  3730.0  3520.0  3575.0  3520.0   1546438.0     3520.0
2021-04-16  3935.0  3485.0  3490.0  3675.0   4215518.0     3675.0
2021-04-19  4545.0  3955.0  4000.0  4370.0  16919098.0     4370.0
2021-04-20  4505.0  4015.0  4460.0  4060.0   5487544.0     4060.0
2021-04-21  4165.0  4025.0  4150.0  4045.0   1574420.0     4045.0
2021-04-22  4070.0  3805.0  4045.0  3900.0   1831810.0     3900.0
2021-04-23  4065.0  3805.0  3850.0  3950.0   1781808.0     3950.0
2021-04-26  4040.0  3875.0  3980.0  3905.0    916332.0     3905.0
2021-04-27  3930.0  3755.0  3910.0  3870.0   1382360.0     3870.0
2021-04-28  3950.0  3740.0  3870.0  3745.0   2861844.0     3745.0
2021-04-29  4790.0  3800.0  3975.0  3950.0  11311293.0     3950.0
2021-04-30  3845.0  3570.0  3800.0  3570.0   1841047.0     3570.0
2021-05-03  4330.0  3425.0  3570.0  3895.0  13081151.0     3895.0
2021-05-04  4400.0  3655.0  3830.0  3840.0  23901415.0     3840.0
2021-05-06  3995.0  3735.0  3870.0  3770.0   3271722.0     3770.0
2021-05-07  3820.0  3670.0  3770.0  3685.0   1268068.0     3685.0
2021-05-10  3775.0  3670.0  3725.0  3670.0    832840.0     3670.0
2021-05-11  3670.0  3565.0  3670.0  3600.0    708397.0     3600.0
2021-05-12  4350.0  3610.0  3625.0  4020.0  25392893.0     4020.0
2021-05-13  4050.0  3810.0  3930.0  3850.0   2546901.0     3850.0
2021-05-14  4010.0  3725.0  3970.0  3725.0   1879354.0     3725.0

 * 카카오게임즈 주가내역 :

             High    Low   Open  Close   Volume  Adj Close
Date
2021-08-13  78000  73500  77200  77200  8694843      77200

In [5]:
import pandas_datareader.data as pdr
display(pdr.get_data_yahoo('005380.KS', start = '2021-04-15', end = '2021-05-15'))

              High     Low    Open   Close   Volume      Adj Close
Date
2021-04-15  232500  229000  232500  230500   555364  229543.562500
2021-04-16  233500  230500  231500  231500   577562  230539.421875
2021-04-19  232500  229000  232000  230000   715867  229045.640625
2021-04-20  231000  228500  230000  229000   722449  228049.796875
2021-04-21  228000  224000  227500  225500   848076  224564.312500
2021-04-22  231000  225500  226500  226000  1025922  225062.234375
2021-04-23  225500  220500  225500  221000  1202196  220082.984375
2021-04-26  222500  220000  221500  221500   653982  220580.906250
2021-04-27  222500  218000  222000  220000   763634  219087.140625
2021-04-28  223500  219500  220000  221500   701452  220580.906250
2021-04-29  221500  217000  221000  217500  1047837  216597.515625
2021-04-30  216500  211000  216000  212000  1168115  211120.328125
2021-05-03  222500  211000  212000  218000  1189242  217095.437500
2021-05-04  224500  217500  220000  223500   953550  222572.609375
2021-05-06  225000  221000  223000  223500   645594  222572.609375
2021-05-07  227000  221000  223500  224000   639489  223070.546875
2021-05-10  230000  225500  226500  229500  1117219  228547.718750
2021-05-11  228500  223500  227000  226500   852825  225560.171875
2021-05-12  233000  223000  226500  227500  1649500  226556.015625
2021-05-13  232000  221500  224000  229500  1593554  228547.718750
2021-05-14  236000  226500  234000  229000  1357407  228049.796875

In [2]:
import pandas_datareader.data as pdr

# 상장폐지된 종목의 거래내역은 조회되지 않음(일반 HTS와 동일)
print("* 동성화학(20210416 상장폐지) 주가내역 :")
display(pdr.get_data_yahoo('005190.KS'))

* 동성화학(20210416 상장폐지) 주가내역 :

RemoteDataError: No data fetched for symbol 005190.KS using YahooDailyReader