In [7]:
import pandas_datareader.data as pdr

# yahoo finance에서 받아오는 주가 데이터의 '종가'는 '수정종가'임
# '대한제당(001790)'은 '무상증자 100%'실시로 인해 4월 30일에 권리락이 발생하였음
# 밑에 제시된 해당 종목 주가이력의 'Close(종가)'컬럼에는 해당 무상증자가 고려된 '수정종가'가 입력되어 있음

print("* 대한제당 주가내역 :")
display(pdr.get_data_yahoo('001790.KS', start = '2021-04-15', end = '2021-05-15'))

# 코스피 종목들에 대해선 전일 주가내역만 받아올 수 있음
print("\n", "* 카카오게임즈 주가내역 :")
display(pdr.get_data_yahoo('293490.KQ'))

* 대한제당 주가내역 :

              High     Low    Open   Close      Volume  Adj Close
Date
2021-04-15  3730.0  3520.0  3575.0  3520.0   1546438.0     3520.0
2021-04-16  3935.0  3485.0  3490.0  3675.0   4215518.0     3675.0
2021-04-19  4545.0  3955.0  4000.0  4370.0  16919098.0     4370.0
2021-04-20  4505.0  4015.0  4460.0  4060.0   5487544.0     4060.0
2021-04-21  4165.0  4025.0  4150.0  4045.0   1574420.0     4045.0
2021-04-22  4070.0  3805.0  4045.0  3900.0   1831810.0     3900.0
2021-04-23  4065.0  3805.0  3850.0  3950.0   1781808.0     3950.0
2021-04-26  4040.0  3875.0  3980.0  3905.0    916332.0     3905.0
2021-04-27  3930.0  3755.0  3910.0  3870.0   1382360.0     3870.0
2021-04-28  3950.0  3740.0  3870.0  3745.0   2861844.0     3745.0
2021-04-29  4790.0  3800.0  3975.0  3950.0  11311293.0     3950.0
2021-04-30  3845.0  3570.0  3800.0  3570.0   1841047.0     3570.0
2021-05-03  4330.0  3425.0  3570.0  3895.0  13081151.0     3895.0
2021-05-04  4400.0  3655.0  3830.0  3840.0  23901415.0     3840.0
2021-05-06  3995.0  3735.0  3870.0  3770.0   3271722.0     3770.0
2021-05-07  3820.0  3670.0  3770.0  3685.0   1268068.0     3685.0
2021-05-10  3775.0  3670.0  3725.0  3670.0    832840.0     3670.0
2021-05-11  3670.0  3565.0  3670.0  3600.0    708397.0     3600.0
2021-05-12  4350.0  3610.0  3625.0  4020.0  25392893.0     4020.0
2021-05-13  4050.0  3810.0  3930.0  3850.0   2546901.0     3850.0
2021-05-14  4010.0  3725.0  3970.0  3725.0   1879354.0     3725.0

 * 카카오게임즈 주가내역 :

             High    Low   Open  Close   Volume  Adj Close
Date
2021-08-13  78000  73500  77200  77200  8694843      77200